---
title: "Are we ever going to care about the health of Idaho's incarcerated population?"
date: "2021-02-16"
tags: 
- IDOC 
- 'COVID-19'
- coronavirus
- vaccine
thumbnail: /images/freedom.jpg
---

<script src="{{< blogdown/postref >}}index_files/header-attrs/header-attrs.js"></script>


<p><strong>Image: “Freedom” by Gary Brunzo</strong></p>
<p>Dear Idaho COVID-19 Vaccine Advisory Committee and Governor Little,</p>
<p>This letter is a follow-up to the letter from December 8, 2020 asking that Idaho prioritize people currently being held in detention in Idaho’s prisons, jails and other detention facilities.</p>
<p>To reiterate, COVID-19 has been racing through Idaho county jails and IDOC facilities since the first documented cases of COVID-19 among Idaho’s imprisoned population began appearing in June of 2020. While efforts have been made to limit COVID-19 spread in IDOC facilities and some jails, containing COVID-19 in the high-density living environment of detention facilities has proved impossible. Since I first wrote to this Advisory Committee, IDOC facilities and Idaho as a whole has undergone a record-breaking spike in cases – reaching a high of 64 staff (Dec 14, 2020) and 1,558 prisoners (Jan 12, 2021) with active COVID-19 infections.</p>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/unnamed-chunk-2-1.png" width="1056" /></p>
<p><em>The vertical blue bars indicate the daily active cases, and the plotted points connected by a red line are the total COVID-19 cases among IDOC residents at IDOC and contracted facilities. Daily active cases among staff or prisoners were not tracked in the IDOC daily tally until June 14th, 2020.</em></p>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/unnamed-chunk-3-1.png" width="1056" /></p>
<p><em>Same legend as previous figure. Numbers indicate staff cases in IDOC facilities only.</em></p>
<p>At this point, <em>half</em> of all IDOC prisoners have become infected with COVID-19. Six people have died of COVID-19 while in custody and likely some have died outside IDOC custody after contracting COVID while incarcerated. This is 5 time the infection rate seen in Idaho and over twice that of the staff (source: <a href="https://www.idoc.idaho.gov/content/careers/covid-19" class="uri">https://www.idoc.idaho.gov/content/careers/covid-19</a>). As stated in my earlier letter - I am sorry to be repetitive, but this is an important point: <strong>the cumulative infection rate of COVID-19 is considerably higher inside than outside IDOC facilities.</strong></p>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/unnamed-chunk-4-1.png" width="864" /></p>
<p>Although it is tempting to attribute higher rates of COVID to mass testing done in IDOC facilities, that is not correct. The other institution in Idaho conducting mass testing, the University of Idaho, has an overall positivity rate of 1.8% (source: <a href="https://www.uidaho.edu/vandal-health-clinic/coronavirus" class="uri">https://www.uidaho.edu/vandal-health-clinic/coronavirus</a>). A more reliable indicator of COVID-19 population infection rates is the number of hospitalizations, but IDOC has not made those data public.</p>
<p>Meanwhile, the public does not have a sense of the extent of infections as county jail in Idaho make information available on their protocols rarely if at all to the public. We do know there has been spikes of cases at county jails for Ada County, Twin Falls County, Kootenai County, Bannock County, Bonneville County and Bingham County in the last year. If COVID-19 can enter and tear through IDOC facilities, then it is most certainly entering county jails since they experience a very rate of turnover among the people held there.</p>
<p>Thank you again for prioritizing IDOC staff for vaccine delivery. But, it is also important that prisoners be prioritized as well. It is apparent that this task force understands that vaccinating only staff is not enough to contain COVID-19 in high-density living facilities, hence why both staff <em>and residents</em> of long-term care facilities were vaccinated in phase I of the vaccine schedule. I see that Phase 2 of Idaho’s vaccine plane includes residents of homeless shelters - a worthy inclusion since these individuals also live in high density housing situations.</p>
<p>However, I remain confused as why this advisory committee is interested in prioritizing every high density population BUT prisoners. Have you decided that these individuals are simply unworthy of compassion or deserving of neglect? Or are you unwilling to make a decision that may be unpopular politically? Dr. Keller is the only individual on the advisory committee consistently advocating for the health of prisoners.</p>
<p>As stated previously, Idaho’s incarcerated population has a larger proportion of Black, Latino, and Native American individuals than in the non-incarcerated population. Approximately 15.5% of IDOC residents identify as Latino or Hispanic; 3% identify as Black; 4% identify as Native American (2019 data). As widely documented, Black people, Latinos, and Native Americans are at heightened risk for premature death due to COVID-19. Since these groups are also at heightened risk of contracting COVID-19 as IDOC residents, they should be prioritized in the vaccination schedule.</p>
<p>Thus unmentioned, but important, is how disrupted the lives and activities of prisoners have been since the pandemic began. Programming, exercise, and even visitation have been suspended or sharply curtailed, depriving prisoners of the few sources of joy in their daily lives. Providing a vaccine can allow them to resume what passes for normal in prison.</p>
<p>The extent to which we have failed people incarcerated during this pandemic should not be understated. <strong>We, as a ‘free’ (non-incarcerated) populace, have not prioritized the health and well being of prisoners under the care of the State of Idaho.</strong> Prisoners have been exposed to COVID-19 at an untenable level, thousands have become infected, 6 IDOC residents have died while in custody and more of died outside after contracting COVID in prison. It is increasingly clear that the Idaho prisoners housed in Saguaro Correctional Center in Arizona are not being kept safe, either. The very lack of regular COVID-19 testing indicates the general disinterest of CoreCivic towards Idaho and its prisoners. There is no evidence Idaho jails are any better and many reasons to suspect they are as bad as IDOC facilities. We are risking the lives of people who have not been sentenced to die by COVID-19 or for those awaiting trial, even found guilty of a crime. It would not be unreasonable to view death from COVID-19 in jail and prison as “wrongful” and deserving of compensation.</p>
<p>It is long past due to correct this error and prioritize people incarcerated in jail and prisons for COVID-19 vaccine.</p>
<p>Thank you for considering this request.</p>
<p>Sincerely,</p>
<p>Julia Piaskowski</p>
