---
title: "COVID-19 in Idaho's Prisons and Jail - An Update"
date: "2020-10-01"
tags: 
- IDOC 
- 'COVID-19'
- coronavirus 
thumbnail: /images/saguaro_CC.jpg
---


<p><strong>Photo: Sagauro Correctional Center</strong></p>
<p><em>Photo credit: Moss CM</em></p>
<div id="death-coronavirus-at-the-idoc" class="section level2">
<h2>Death &amp; CORONAVIRUS at the IDOC</h2>
<p>Ten months into the pandemic, COVID-19 cases continue to spike at prisons and jails. As of November 27, 2020, there were 760 active COVID-19 cases in IDOC facilities, down from a high of 763 two days prior. IDOC staff are currently experiencing a spike in cases: 72 active infections – a record high – as of Nov 25, 2020. In total, there has been 294 total COVID-19 cases among staff and 2576 total cases among residents in IDOC facilities, and 132 cases among Idaho prisoners held in out-of-state contract facilities.</p>
<p>For IDOC prisoners held out of state, testing has been spotty. A total of 33 COVID-19 tests were ever conducted for the 300+ IDOC prisoners at the Geo Group’s Eagle Pass Correctional Facility. When those people were transferred to Core Civic’s Saguaro Correctional Facility in early October, all were tested upon arrival. The result was 130 positive cases out of 311 tests, and 2 weeks later, a man died there due to COVID-19. No testing of any sort has taken place since the initial round.</p>
<p>There has been at least 5 deaths at an Idaho prison due to COVID-19:</p>
<ul>
<li>Frank Dawson Conover, passed away July 28th, 2020.<br />
</li>
<li>Randall Mark Osterhout, passed August 30th, 2020.<br />
</li>
<li>A man (name withheld) located in the Saguaro facility in Eloy, Arizona, passed October 14, 2020. This man’s COVID-9 status was not detected until he was hospitalized.<br />
</li>
<li>A man (name withheld) housed in an IDOC facility passed November 5th, 2020 likely due to complications from COVID-19.<br />
</li>
<li>An 88-year-old man (name withheld) passed November 13th, 2020.</li>
<li>A 63-year-old man (name withheld) passed December 5th, 2020.</li>
</ul>
<p><em>If your loved one has died in IDOC facility due to COVID-19 and you would like their name included here, please contact us.</em></p>
<p>It is not known how many released IDOC residents have died of COVID-19 after contracting the virus while incarcerated, but that number is not zero.</p>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/unnamed-chunk-2-1.png" width="672" /></p>
<p>Overall, there is not a clear death rate attributable to COVID-19. Testing for COVID-19 and attribution of deaths due to COVID-19 are inconsistent across the nation and the world. In addition, death rates due to COVID-19 vary by race, age, economic status and underlying health conditions. Nevertheless, nearly <a href="https://www.themarshallproject.org/2020/05/01/a-state-by-state-look-at-coronavirus-in-prisons">1500 prisoners in U.S correctional facilities have died due to COVID-19</a> as of Nov 17, 2020. If COVID-19 continues to rip through Idaho jails and prison, we can expect more deaths. Dying from COVID-19 is not a punishment any prisoner deserves.</p>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/unnamed-chunk-3-1.png" width="80%" /></p>
<p>Considerably higher rates of COVID-19 are observed among prison staff and residents than the general population. The IDOC resident and staff rates are tightly linked, with a correlation of 0.94 (the highest value possible is 1 indicating complete concordance). A linear regression analysis found that for every staff member infected, nearly 10 IDOC residents are infected. This is a revolving door of infection: staff unintentionally introduce COVID-19 to the prison population, where it spreads and infects more prisoners and more staff. Those staff also unintentionally pose an increased risk of COVID-19 transmission to their home communities.</p>
<blockquote>
<p>…the biggest risk for introducing Covid-19 into one of the teeming jail dorms is not newly booked inmates like this one, but rather jail employees like deputies, nurses, and kitchen staff. Every day they come to work from possible community Covid exposure is another day they could potentially bring Covid to work with them.
—<a href="http://www.jailmedicine.com/keep-covid-out-of-the-jail/">Dr. Jeffrey Miller</a></p>
</blockquote>
<p><a href="/idaho-covid-prison/">A previous blog post</a> on COVID-19 in Idaho’s prisons and jails presents several reasonable solutions to alleviate this crisis.</p>
</div>
<div id="perspectives-from-the-incarcerated" class="section level2">
<h2>Perspectives from the Incarcerated</h2>
<p>These testimonies are drawn from the AClU’s <em><a href="https://www.acluidaho.org/en/news/stories-inside">Voices from the Inside</a></em></p>
<div id="kyle" class="section level3">
<h3>Kyle</h3>
<p>Kyle described decent protocols at first: extra soap, masks and bleach to disinfect their block. IDOC administration was keeping residents informed of COVID-19 practices over JPay email and a decent effort from staff to follow COVID-19 safety protocols. But now? no more extra soap, no bleach, no way to disinfect common surfaces, conflicting information from the IDOC, poor ventilation and poor compliance with masks.</p>
<blockquote>
<p>As the virus quickly spread around the country, things here at the prison stayed business as usual. The correction officers I spoke to informed me the virus was not going to affect us here in Idaho, because we are rural and Idahoans are bred from sturdier stock than citizens elsewhere in the United States.
—<a href="https://www.acluidaho.org/en/news/stories-inside-kyle">Kyle</a></p>
</blockquote>
<blockquote>
<p>The sheer number of A-symptomatic cases here, make everyone think the virus has been over-hyped."</p>
</blockquote>
<p>Kyle also described some good news resulting from the pandemic:</p>
<ul>
<li>better food because the kitchen had to order pre-made food rather than serving regular prison garbage.<br />
</li>
<li>case managers have brought us snacks every couple weeks (e.g. candy bar, word searches)</li>
<li>phone calls cheaper by $0.03/minute<br />
</li>
<li>cheaper stamps to send mail to family</li>
</ul>
</div>
<div id="scott" class="section level3">
<h3>Scott</h3>
<p>Scott, on missing his meds and lack of treatment for his chronic traumatic encephalopathy:</p>
<blockquote>
<p>Don’t get me wrong, I committed a crime, and I understand that there are consequences. That being said, I should still have the right to treatment for my condition. The punishment is incarceration, it should not be mistreatment and possibly ending or shortening of my life.
—<a href="https://www.acluidaho.org/en/news/stories-inside-scott">Scott</a></p>
</blockquote>
<p>Scott also described widespread dismissal of safety protocols and a general futility associated with the protocols due to the high-density of people at the South Idaho Correctional Institution.</p>
</div>
<div id="dana" class="section level3">
<h3>Dana:</h3>
<blockquote>
<p>There are 59 inmates in a 50-foot by 75-foot tier without proper ventilation and we have no hygiene products. The prison has been negligent/careless and not even following their own rules of mandatory masks.</p>
</blockquote>
<blockquote>
<p>I have heard of only one death at the facility and only 200 cases, but we are not well informed about anything. We are always on lockdown without any recreation since June 20th and all programming and visitation have been canceled. I haven’t had contact with my support system. This has started to give me anxiety and depression.
—<a href="https://www.acluidaho.org/en/news/stories-inside-dana">Dana</a></p>
</blockquote>
</div>
<div id="austin" class="section level3">
<h3>Austin</h3>
<blockquote>
<p>But, ultimately I believe everyone not convicted and sentenced to death should be released, since death is a real possibility to all inmates with the Covid-19 in the institutions. I wish everyone luck in these days of uncertainty and crisis.
—<a href="https://www.acluidaho.org/en/news/stories-inside-austin">Austin</a></p>
</blockquote>
</div>
</div>
<div id="updated-charts-of-covid-19-cases-in-idoc" class="section level2">
<h2>Updated Charts of COVID-19 Cases in IDOC</h2>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/unnamed-chunk-5-1.png" width="100%" /></p>
<p><em>The vertical blue bars indicate the daily active cases, and the plotted points connected by a red line are the total COVID-19 cases among IDOC staff. Daily active cases among staff or prisoners were not tracked in the IDOC tally until June 14th, 2020.</em></p>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/unnamed-chunk-6-1.png" width="100%" />
<em>Same legend as previous figure (see above). Figures indicate positive COVID-19 cases at IDOC facilities and Contracted Facilities.</em></p>
</div>
<div id="idaho-jails" class="section level2">
<h2>Idaho Jails</h2>
<p>Jails have dramatically reduced their reporting, to the detriment of community health and planning. As a result, we do not have a clear sense of COVID-19 infections in jails.</p>
<p>In Twin Falls, money from the <a href="https://home.treasury.gov/policy-issues/cares">Federal CARES Act</a>, designed to “provide fast and direct economic assistance for American workers and families, small businesses, and preserves jobs for American industries”, is being used to expand the their jail <a href="https://www.boisestatepublicradio.org/post/twin-falls-county-uses-cares-act-funds-pay-jail-expansion#stream/0">source</a>.</p>
<p>Nine people held in the Elmore County Jail are <a href="https://www.idahostatesman.com/news/coronavirus/article245831700.html">suing that jail</a> for generating an unsafe environment due to overcrowding and insufficient sanitation protocols for COVID-19. They are requesting to be released. The Elmore County Jail has made any information public regarding COVID-19 infections rates in the jail or among jail staff.</p>
</div>
